{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Document</title>




    <!-- Loading css file-->
    <link rel="stylesheet" type="text/css" href="{% static 'users/main.css' %}">

</head>
<body>
    <header class = "site-header" height="50px" >
      <div height="50px">
<!--          <div class="collapse" id="navbarToggleExternalContent">-->
<!--            <div class="bg-signiture p-4">-->
<!--              <h5 class="text-white h4">Collapsed content</h5>-->
<!--              <span class="text-muted">Toggleable via the navbar brand.</span>-->
<!--            </div>-->
<!--          </div>-->
          <nav class="navbar navbar-dark bg-signiture" height="50px">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
<!--              <span class="navbar-toggler-icon"></span>-->
            </button>
            <img src="/static/service/logo.jpg" height="40px" align="right">
          </nav>
        </div>

    </header>
    {% block content %}{% endblock %}
    <footer class="bd-footer bg-dark text-muted ">
      <div class="container-fluid "><!--  -->
        <strong><p>Project designed and built by 유아영, 하대윤, 이장현, 이찬욱 </p></strong>

      </div>
    </footer>

 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>



</body>
</html>