{% extends "service/base.html" %}
{% block content %}
<div class="totalcontents">
    <div class="jumbotron">
      <h2 class="display-4"><br>나를 위한 AI 스마일 학습</h2><br>
      <h3 class="fDH" style="text-align: center"><br>감성82는 쉽고 편리한 AI 감정공감 연습을 제공합니다<br></h3>
      <hr class="my-4">
    </div>
    <div id="carouselMain" class="carousel slide" data-ride="carousel"  align="center">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/static/service/sample1.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/static/service/guide_line_01.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/static/service/example3.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
      <!--
    </div>
    <div class="feature1">
      <div class="container">
        <h1>표정별 공감 트레이닝</h1>
        <img src="stark1.png" class = "pull-left">
      </div>
    </div>
    -->
    <div class="jumbotron" style="text-align: center">
      <h1 class="display-4"><br>AI 표정학습 <br> 왜 필요할까요?<br><br></h1>
      <p class="fDH" style="font-size: 30px;">100세까지 나의 뇌를 활발하게 할 수 있어요<br><br></p>
      </p>
      <p class="fDH" style="font-size: 23px;">
        얼굴의 표정이 다양한 사람은 그렇지 않은 사람보다 표정을 지을 때 마다 뇌 발달이 풍부해 진다고 합니다.<br>
        다양한 얼굴 표정을 AI 표정학습으로 의식적으로 반복해서 만들어주세요.<br>
        표정학습과 스마일학습을 통해 나의 뇌 발달을 도와 건강한 뇌를 유지할 수 있습니다.<br><br>
      </p>
    </div>
    <div class="jumbotron">
      <table width = "1200" height = "300" align = "center"  bgcolor = "#e9eeec">
        <tr class = "table1" align = "center ">
          <td rowspan="3"><img src="/static/service/stark1.png" class = "pull-left"></td>
          <td><h1><b>감정 공감 트레이닝</b></h1></td>
        </tr>
        <tr align= "center">
          <td><p>알몬티 인더스트리스는 텅스텐 광산개발과 탐사에 중점을 둔 글로벌 회사이다.<br>
            스페인, 포르투갈과 대한민국에서 주요 영업활동을 하고 있으며 <br>
            캐나다 토론토 주식거래소 벤처부문에 상장되어 있다.</p></td>
        </tr>
        <tr align="center">
          <td class = "button1"><a class="btn btn-primary" href="{% url 'empathy_training' %}" role="button">지금 바로 시작하기</a></td>
        </tr>
      </table>
    </div>
    <table width = "1200" height = "350" align = "center"  bgcolor = "white" >
      <tr class = "table2" align = "center ">
        <td><h1><b>스마일 학습 트레이닝</b></h1></td>
        <td rowspan="3"><img src="/static/service/ha.png" class = "pull-right"></td>
      </tr>
      <tr align="center">
        <td><p>우울한 당신 환한 미소와 함께 하루를 시작하고<br>
          하루를 마무리하고그러고 사시나요?<br>
          나의 얼굴은 어떻게 웃을까  지금바로 시작해보세요</p></td>
      </tr>
      <tr align="center">
        <td class = "button1"><a class="btn btn-warning" href="{% url 'smile_prepare' %}" role="button">지금 바로 시작하기</a></td>
      </tr>
    </table>
</div>
{% endblock content %}