{% extends "service/base.html" %}
{% block content %}
<div class="totalcontents">
    <div class="jumbotron">
      <h2 class="display-4">GAMSUNG PAL-EE</h2>
      <h2 class="lead">가상환경 언택트 시대<br>진보된 업무환경 효율성을 위한<br>AI 감성공감 서비스</h2>
      <hr class="my-4">
      <p align="center">알몬티 인더스트리스는 텅스텐 광산개발과 탐사에 중점을 둔 글로벌 회사이다. <br>스페인, 포르투갈과 대한민국에서 주요 영업활동을 하고 있으며 캐나다 토론토 주식거래소 벤처부문에 상장되어 있다.</p>
    </div>
    <div id="carouselMain" class="carousel slide" data-ride="carousel"  align="center">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/static/service/sample1.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/static/service/sample2.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/static/service/example3.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
      <!--
    </div>
    <div class="feature1">
      <div class="container">
        <h1>표정별 공감 트레이닝</h1>
        <img src="stark1.png" class = "pull-left">
      </div>
    </div>
    -->
    <div class="jumbotron">
      <table width = "1200" height = "300" align = "center"  bgcolor = "#e9eeec">
        <tr class = "table1" align = "center ">
          <td rowspan="3"><img src="/static/service/stark1.png" class = "pull-left"></td>
          <td><h1><b>감정 공감 트레이닝</b></h1></td>
        </tr>
        <tr align= "center">
          <td><p>알몬티 인더스트리스는 텅스텐 광산개발과 탐사에 중점을 둔 글로벌 회사이다.<br>
            스페인, 포르투갈과 대한민국에서 주요 영업활동을 하고 있으며 <br>
            캐나다 토론토 주식거래소 벤처부문에 상장되어 있다.</p></td>
        </tr>
        <tr align="center">
          <td class = "button1"><a class="btn btn-primary" href="{% url 'empathy_training' %}" role="button">지금 바로 시작하기</a></td>
        </tr>
      </table>
    </div>
    <table width = "1200" height = "350" align = "center"  bgcolor = "white" >
      <tr class = "table2" align = "center ">
        <td><h1><b>스마일 학습 트레이닝</b></h1></td>
        <td rowspan="3"><img src="/static/service/ha.png" class = "pull-right"></td>
      </tr>
      <tr align="center">
        <td><p>우울한 당신 환한 미소와 함께 하루를 시작하고<br>
          하루를 마무리하고그러고 사시나요?<br>
          나의 얼굴은 어떻게 웃을까  지금바로 시작해보세요</p></td>
      </tr>
      <tr align="center">
        <td class = "button1"><a class="btn btn-warning" href="{% url 'smile_study' %}" role="button">지금 바로 시작하기</a></td>
      </tr>
    </table>
</div>
{% endblock content %}