{% extends "status/base.html" %}
{% block content %}


    <h2 class = "comparetitle">나의 웃는 얼굴</h2>

    <table class="comparephoto" bgcolor = "#e9eeec">
        <tr>
            <td colspan="3" class="a1"><h5 class="bestdate">20201008</h5></td>
        </tr>
        <tr style="height: 50px;">
            <td><img src="/static/status/smilemark.png" style="margin:20px 0 0 50px; width: 50px; height: 50px;"></td>
        </tr>
        <tr>

            <td class=c1 rowspan="2"><img src="{{ faces.NEUTRAL_PATH}}" width="320" height="240"></td>

            <td class=c2><img src="/static/status/stark2.jpg" class="photo4"></td>
            <td class=c2><img src="/static/status/stark2.jpg" class="photo4"></td>
        </tr>
        <tr>
            <td class=c2><img src="/static/status/stark2.jpg" class="photo4" ></td>
            <td class=c2><img src="/static/status/stark2.jpg" class="photo4" ></td>
        </tr>
        <tr>
            <td class=d1><b style="margin-left: 50px;">웃음게이지</b><img src="/static/status/smilegauge.png" style="margin:0 0 30px 50px;"></td>
            <td style="text-align: center;"><a href="https://m.blog.naver.com/PostView.nhn?blogId=missalz&logNo=220718020044&proxyReferer=https:%2F%2Fwww.google.com%2F">공유하기</a></td>
            <td style="text-align: center;"><a href="https://m.blog.naver.com/PostView.nhn?blogId=missalz&logNo=220718020044&proxyReferer=https:%2F%2Fwww.google.com%2F">사진 바로가기</a></td>
        </tr>
    </table>

    <table class="photohistory" bgcolor = "f3f3f3">

    </table>


{% endblock content %}