{% extends "empathy/base.html" %}
{% block content %}
<body>
<audio autoplay><source src ="/static/empathy/voices/chiring_sound.mp3" type="audio/mp3"></audio>
 <table class="viewer" align = "center" >
        <tr>
            <td colspan="4" class="a1" ><h2 class="title2">감정 공감 트레이닝</h2></td>
        </tr>
        <tr>
            <td class="b21">
                <div id =video01>

                     <div>
<!--                        <h1>videoStreaming_LEVEL1</h1>-->
                        <img src="{% url 'happy_training' %}" width="640" height="auto">
                     </div>
                </div>
            </td>
            <td class="b3"></td>
            <td class="b4" rowspan="2" align="center">
<pre>
<h8>
가고 싶은 기업의

최종 결과만을 남겨놓고 있는 당신.

문자가 왔다.

"최종합격을 축하드립니다"

그때의 당신의 표정은?

</h8>
</pre>
                <countdown-time autostart add="6s" format="{s}" style="font-weight: bold; font-size: xx-large; color: #1abc9c; text-align: center;" ></countdown-time>

            </td>
        </tr>
        <tr>
            <td class="f2" height="70" align="center">
              <div class="btn-group" role="group" aria-label="Basic example">
                <a class="btn btn-secondary" href="{% url 'training5' %}" role="button">◀</a>
                <button type="button" class="btn btn-secondary">________________________________________________________________________________</button>
                <a class="btn btn-secondary" href="{% url 'training_result' %}" role="button">▶</a>
              </div>
            </td>
        </tr>
    </table>
<!--<div class="blackbox"></div>-->



</body>
{% endblock content %}