{% extends "smile/base.html" %}
{% block content %}
<body>

 <table class="viewer" align = "center">
        <tr>
            <td colspan="4" class="a1"><h2 class="title2">감정 공감 트레이닝</h2></td>
        </tr>
        <tr>
            <td class="b21">
                <div id =video01>
                     <div>
<!--                        <h1>videoStreaming_LEVEL1</h1>-->
                        <img src="{% url 'video_smile_level1' %}">
                     </div>
                </div>
            </td>
            <td class="b3"></td>
            <td class="b4" rowspan="2"></td>
        </tr>
        <tr>
            <td class="f2" height="70" align="center">
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary"><</button>
                <button type="button" class="btn btn-secondary">________________________________________________________________________________</button>
                <button type="button" class="btn btn-secondary">></button>
              </div>
            </td>
        </tr>
    </table>



</body>
{% endblock content %}